
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Přihlásit se</legend>
                 {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Přihlásit se</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nemáš účet? <a class="ml-2" href="{% url 'register' %}">Registruj se</a>
            </small>
        </div>
    </div>
{% endblock content %}