{% block content %}
    <h2>Byli jste úspešne odhlášeni.</h2>

        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">Přihlas se</a>
            </small>
        </div>
{% endblock content %}