<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>


<h2>Kuchařská ruleta aneb co budeme vařit</h2>
Hello, {{ user.username|default:'Guest' }}!
{% block content %}
{% endblock %}
