<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Co budeme vařit? Kuchařská ruleta</title>                        <!-- to co sa vypise v liste -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <style>body {background-color: #e5fff9;}</style>
</head>


<body>
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>



<div class="nadpis">
    <h1 style="margin: 3px;">Kuchařská ruleta</h1>
</div>
<div class="centerOBR">
    <img src="https://www.sazeni-online.eu/images/blog/ca0a4d2799ace80811fdefb3e7400057.jpg" alt="Ruleta s jídlem"
         width="600"
         height="250">
</div>


<h3>
    <button class="buttonSpustRuletu">
        <a href="roulette/"><strong>Spusť ruletu!</strong></a>
    </button>                                               <!--<i> * Vylosuje jídlo</i>-->
</h3>

<form action="upload/" method="post">
    {% csrf_token %}git
    <div>
        <button class="button1"
                type="submit"><strong>Ukáže všechny recepty</strong>
        </button>                                           <!--<i> * Načte základní DB receptů</i>-->
    </div>
</form>


<form action="del_all/" method="post">
    {% csrf_token %}
    <div>
        <button class="button2"
                type="submit"><strong>Smaž vše</strong>
        </button>                                           <!--<i> * Smaže všechny recepty</i>-->
    </div>
</form>

<div>
    <table>
        <tr>
            <th>Název receptu</th>
            <th>Autor</th>
            <th>Hodnocení</th>
        </tr>
        {% for x in myreceipts %}
        <tr>
            <td style="width:70%">{{ x.rec_title }}</td>
            <td style="width:20%" align="center">{{ x.author }}</td>
            <td style="width:10%" align="center">{{ x.rating }}</td>
        </tr>
        {% endfor %}

    </table>
    <p style="padding-bottom:150px;"></p>

</div>
</body>
</html>
