<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrovany uzivatel</title>
</head>
<body>
Vitame uzivatele, {{ user.username|default:'Guest' }}!   <a href="{% url 'logout' %}">Logout</a>
<br>
<br>
<br>

<form action="/add_receipt_form/" method="post">
{% csrf_token %}
<table border="1">
<caption>Zadani hlavicky noveho receptu</caption>
<tr>
    <td>Nazev</td>
    <td><input name="recepis"></td>
    <td>Autor:</td>
    <td><input name="autor"></td>
    <td>Hodnoceni:</td>
    <td><input name="ratex"></td>
    <td><input type="submit" value="Uloz zahlavi receptu"></td>
</tr>
</table>
</form>

<div>
    <table style="align:center" class="centerTabulka">
        <tr>
            <th>Veřejné recepty</th>
            <th>Autor</th>
            <th>Hodnocení</th>
        </tr>
        {% for x in myreceipts %}
        <tr>
            <td>{{ x.rec_title }}</td>
            <td>{{ x.author }}</td>
            <td>{{ x.rating }}</td>
        </tr>
        {% endfor %}

    </table>
    <p style="padding-bottom:150px;"></p>

</div>
</body>
</html>